body {
    background-color:rgb(249, 150, 114);
    font-family:'Courier New', Courier, monospace;
}

header {
    color: rgb(40, 33, 33);
    font-family: 'Papyrus', 'Copperplate', sans-serif;
    text-align: center;
    font-weight: 600;
    font-size: 40px;
}

h1, p {
    display:inline;
}

a:link,
a:visited {
    color:black;
    text-decoration:none;
}

a:hover {
    color:purple;
    font-weight:bold;
    font-style:italic;
}

.cheesecake-image,
.garlic-bread-image,
.lasagne-image {
    object-fit:cover;
    object-position:bottom;
    height:150px;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
}

#recipe-images {
    text-align:center;
}

.cheesecake-image:hover,
.garlic-bread-image:hover,
.lasagne-image:hover {
    transform:scale(1.15);
}

